In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('femalepopulation.txt')

In [3]:
df.head()

,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Australia,9887846.0,9999199,10100991,10218321,10348070,10570420,10770864,10986535,11218144,11359807,11402769
1,Austria,4179743.0,4158169,4190297,4220228,4246571,4261752,4277716,4287213,4296197,4308915,4324983
2,Belgium,5267437.0,5288959,5309245,5334527,5367561,5403126,5442557,5484429,5527684,4996609,5622157
3,Canada,NaN,15829173,15834015,16146667,16303914,16478759,16601231,16802833,16807738,17101813,17379104
4,Czech Republic,5264218.0,5236563,5236715,5239664,5248431,5261005,5298196,5331165,5349616,5363971,5347235

In [4]:
df.tail()

,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
25,Sweden,4500683.0,4513681,4529014,4545081,4561202,4589734,4619006,4652637,4691668,4725326,4756021
26,Switzerland,3712121.0,3738824,3762609,3786406,3806626,3829380,3866480,3915181,3955240,3992708,4032409
27,Turkey,NaN,34753495,35023500,35484500,35945763,35945763,35209723,35615946,36098842,36679806,37191315
28,United Kingdom,29753779.0,30331409,30506793,30664861,30817364,30976313,31145537,31331174,31518326,31726030,32115485
29,United States,141943484.0,146817188,147773459,149495099,150913782,152261670,154509976,154662649,155915671,157539944,158635141

In [5]:
!pip install dataframe-image

Requirement already satisfied: dataframe-image in /opt/anaconda3/lib/python3.7/site-packages (0.1.1)
Requirement already satisfied: pandas>=0.24 in /opt/anaconda3/lib/python3.7/site-packages (from dataframe-image) (1.0.1)
Requirement already satisfied: matplotlib>=3.1 in /opt/anaconda3/lib/python3.7/site-packages (from dataframe-image) (3.1.3)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.7/site-packages (from dataframe-image) (4.8.2)
Requirement already satisfied: aiohttp in /opt/anaconda3/lib/python3.7/site-packages (from dataframe-image) (3.7.4.post0)
Requirement already satisfied: nbconvert>=5 in /opt/anaconda3/lib/python3.7/site-packages (from dataframe-image) (5.6.1)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.7/site-packages (from dataframe-image) (2.25.1)
Requirement already satisfied: numpy>=1.11 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1->dataframe-image) (1.20.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1->dataframe-image) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1->dataframe-image) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1->dataframe-image) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1->dataframe-image) (1.1.0)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=3.1->dataframe-image) (1.14.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1->dataframe-image) (47.1.1)
Requirement already satisfied: entrypoints>=0.2.2 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (0.3)
Requirement already satisfied: traitlets>=4.2 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (4.3.3)
Requirement already satisfied: testpath in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (0.4.4)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (3.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (0.8.4)
Requirement already satisfied: nbformat>=4.4 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (5.0.4)
Requirement already satisfied: jupyter-core in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (4.6.1)
Requirement already satisfied: defusedxml in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (0.6.0)
Requirement already satisfied: jinja2>=2.4 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (2.11.1)
Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (2.5.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert>=5->dataframe-image) (1.4.2)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.7/site-packages (from jinja2>=2.4->nbconvert>=5->dataframe-image) (1.1.1)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.7/site-packages (from nbformat>=4.4->nbconvert>=5->dataframe-image) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/anaconda3/lib/python3.7/site-packages (from nbformat>=4.4->nbconvert>=5->dataframe-image) (3.2.0)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (19.3.0)
Requirement already satisfied: importlib-metadata in /opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (3.1.1)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (0.15.7)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->dataframe-image) (2019.3)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.7/site-packages (from traitlets>=4.2->nbconvert>=5->dataframe-image) (4.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.7/site-packages (from aiohttp->dataframe-image) (5.1.0)
Requirement already satisfied: chardet<5.0,>=2.0 in /opt/anaconda3/lib/python3.7/site-packages (from aiohttp->dataframe-image) (3.0.4)
Requirement already satisfied: typing-extensions>=3.6.5 in /opt/anaconda3/lib/python3.7/site-packages (from aiohttp->dataframe-image) (3.10.0.0)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /opt/anaconda3/lib/python3.7/site-packages (from aiohttp->dataframe-image) (3.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/lib/python3.7/site-packages (from aiohttp->dataframe-image) (1.6.3)
Requirement already satisfied: idna>=2.0 in /opt/anaconda3/lib/python3.7/site-packages (from yarl<2.0,>=1.0->aiohttp->dataframe-image) (2.8)
Requirement already satisfied: soupsieve>=1.2 in /opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4->dataframe-image) (1.9.5)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert>=5->dataframe-image) (0.5.1)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests->dataframe-image) (2019.11.28)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests->dataframe-image) (1.25.8)
WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the '/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [6]:
import dataframe_image as di

In [12]:
di.export(df,'df3.jpg',max_rows=4)

In [13]:
dfb = df.describe()

In [14]:
dfb

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
count,2.800000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01
mean,1.878752e+07,1.946601e+07,1.957595e+07,1.974024e+07,1.986934e+07,1.998341e+07,2.010803e+07,2.020393e+07,2.031434e+07,2.045895e+07,2.071725e+07
std,2.940416e+07,2.929550e+07,2.947588e+07,2.975716e+07,3.000057e+07,3.022243e+07,3.056816e+07,3.061633e+07,3.082681e+07,3.112997e+07,3.145483e+07
min,1.431250e+05,1.441840e+05,1.451690e+05,1.464070e+05,1.486890e+05,1.510960e+05,1.545630e+05,1.573000e+05,1.576940e+05,1.584460e+05,1.592110e+05
25%,2.753824e+06,3.010597e+06,3.017349e+06,3.025100e+06,3.031638e+06,3.038860e+06,3.050023e+06,3.065633e+06,3.082399e+06,3.101212e+06,3.118407e+06
50%,5.340921e+06,5.467506e+06,5.492313e+06,5.515518e+06,5.535432e+06,5.554426e+06,5.569329e+06,5.584173e+06,5.617668e+06,5.600077e+06,5.661046e+06
75%,2.509346e+07,2.811592e+07,2.832822e+07,2.855097e+07,2.867601e+07,2.883766e+07,2.904988e+07,2.923579e+07,2.937325e+07,2.961915e+07,2.972244e+07
max,1.419435e+08,1.468172e+08,1.477735e+08,1.494951e+08,1.509138e+08,1.522617e+08,1.545100e+08,1.546626e+08,1.559157e+08,1.575399e+08,1.586351e+08

In [15]:
di.export(dfb,'dfb.png')

In [18]:
dfc = dfb.style.background_gradient(cmap = 'hsv')
di.export(dfc,'dfc.png')